
$bg-color: #1D1C2D;
$reviews-bg: #262538;

$search-input-bg: #262538;
$search-input-border: #49485D;

$primary: #8780F8;
$warning: #D5A66A;
$danger: #D56A6A;
$grey: #8C8AA7;
$light: #FFFFFF;
$dark: #1D1C2D;

// Button
$btn-bg: #2C2B3F;
$btn-hover-bg: #1F1E2D;
$btn-color: #979797;

// Card
$card-bg: #2C2B3F;